;; Analyzed by ClojureScript 1.7.170
{:name parenode.main, :doc nil, :excludes #{}, :use-macros nil, :require-macros {compiler parenode.compiler, parenode.compiler parenode.compiler}, :uses nil, :requires {nodejs cljs.nodejs, cljs.nodejs cljs.nodejs}, :imports nil}